*{
    margin: 0px;
}
.container{
    width: 100%;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0 2rem;
    font-family: "Poppins";
}

.my-logo{
    width:50px;
    height:50px;
}

.right-flex {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    
}

.right-flex li{
    list-style: none;
    color: grey;
}

.right-flex li a {
    text-decoration: none;
}
  

.left-margin {
    margin-right: 24px;
    font-size:14px;
}

.body-wrapper{
    padding: 2rem;
    font-family: "Poppins";
}

.body-text{
    font-family: "Poppins";
    color:grey;
    weight:500px;
    font-size: 60px;
    padding-top: 120px;

}

.typed{
    color: black;
}

hr{
    width:223px;
    padding: 0;
    border: none;
    border-top: 0.5rem solid #333;
    padding-bottom:20px;
    color: #333;
    text-align: center; }


.cta-text{
    font-size: 24px;
}

/*Page 2- About Page*/

.wrapper-about{
    padding: 60px;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Hanken Grotesk', sans-serif;

}

.wrapper-about hr{
    border-top: 5px solid #333;
    width: 40px;
}

.about-body {
    text-align: center;
}

.home-arrow{
    padding-top: 2rem;
    font-weight: bold;
    font-size: 35px;
    display:flex;
    align-items:center;


}

.home-text{
    font-size: 20px;
    color:grey;
    margin-left:.5rem;
}

