*{
    margin: 0px;
}
.container{
    width: 100%;
    
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0 2rem;
    font-family: "Poppins";
}

.my-logo{
    width:50px;
    height:50px;
}

.right-flex {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    
}

.right-flex li{
    list-style: none;
    color: grey;
    
}

.right-flex li a {
    text-decoration: none;
}
  

.left-margin {
    margin-right: 24px;
    font-size:14px;
}

.body-wrapper{
    padding: 2rem;
    font-family: "Poppins";
}

.body-text{
    font-family: "Poppins";
    color:grey;
    weight:500px;

}